img.my-photo {
    width: 30%;
}

body p .centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    background-color: ivory;
    padding: 20px;
}

h2 {
    background-color: wheat;
}

a {
    color: blue;
}

a.yt-link {
    color: red;
}

.feedback-form input, .feedback-form textarea {
    width: 100%
}
.feedback-form textarea {
    height: 100px
}
